.greater_border {
    border: 1px solid white;
    margin: 0 auto;
    padding: .5em;
    display: grid;
    grid-template-columns: 1fr 4fr;
    width: 95%;
    height: 90vh;
}

.artists_container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 2.5%;
}

.artists_title {
    font-size: 1.2em;
    margin: .3em 0 .3em 0;
}

.artists_container a {
    color: rgb(252, 99, 99);
}