.stories_container {
    /* border: 1px solid gray; */
    border-radius: .5em;
    box-shadow: 0 0 8px gray;
    display: grid;
    grid-template-rows: 1fr 8fr;
    margin: .5em;
    height: 86vh;
}

.story_header{
    display: flex;
    justify-content: space-between;
    margin: .5em 1em;
}

.each_story {
    overflow-y: auto;
}

.story_container {
    border: 1px solid white;
    border-radius: .2em;
    margin: 1em;
    display: flex;
    justify-content: space-between;
    box-shadow: none;
    transition: box-shadow .2s ease-in-out;
}

.story_container:hover {
    box-shadow: 0 0 8px #dd686e;
}

.story_title_desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .5em;
}

.story_img_container {
    width: 10em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story_img{
    width: 100%;
}

.story_writer_edit{
    display: flex;
}

.written_by{
    margin-right: 1em;
}