.stories_container {
    border: 1px solid red;
    margin: .5em;
}

.story_header{
    display: flex;
    justify-content: space-between;
    margin: .5em 1em;
}

.each_story {
    height: 77.3vh;
    overflow-y: auto;
}

.story_container {
    border: 1px solid white;
    margin: 1em;
    display: flex;
    justify-content: space-between;
}

.story_title_desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: .5em;
}

.story_img_container {
    width: 10em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.story_img{
    width: 100%;
}

.story_writer_edit{
    display: flex;
}

.written_by{
    margin-right: 1em;
}