body{
    background-color: #141414;
    color: white;
}

.wrap {
    animation-name: lyrestone_intro;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.logo_links_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}

.logo_container {
    display: flex;
    align-items: center;
}

.logo_image{
    width: 12em;
}

.logo_text {
    font-size: 12em;
    font-family: 'Girassol', cursive;
    padding-left: .5em;
    color: white;
    font-style: italic;
    animation-name: lyrestone_text_intro;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: relative;
    transition: all .2s ease-out;
}

.logo_text:hover{
    text-shadow: 1px 1px 3px gray;
}

@keyframes lyrestone_text_intro {
    0% {
        opacity: 0;
        top: -.2em;
    }
    50% {
        opacity: 100%;
        top: 0;
    }
}

.logo_container_inner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(61, 61, 61);
    /* border: 1px solid white; */
    box-shadow: 0 0 5px white;
    border-radius: 50%;
    width: 17em;
    animation-name: lyrestone_image_intro;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: relative;
    opacity: 0;
    left: -1em;
}

@keyframes lyrestone_image_intro {
    0% {
        opacity: 0;
        left: -1em;
    }
    50% {
        opacity: 0;
        left: -1em;
    }
    100% {
        opacity: 100%;
        left: 0;
    }
}

.links{
    display: flex;
    justify-content: space-between;
    width: 10em;
    font-size: 3em;
    animation-name: lyrestone_links_intro;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    position: relative;
    opacity: 0;
    bottom: -1em;
}

@keyframes lyrestone_links_intro {
    0% {
        opacity: 0;
        bottom: -1em;
    }
    50% {
        opacity: 0;
        bottom: -1em;
    }
    100% {
        opacity: 100%;
        bottom: 0;
    }
}

.links a {
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: .5em;
    position: relative;
    top: 0;
    transition: all .2s ease-out;
}

.links a:hover {
    box-shadow: 0 0 8px white;
    top: 3px;
}